# Canonical HTTPS/WWW
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# DISABLE DIRECTORY INDEXES
Options -Indexes

#Własna strona błędu 400
ErrorDocument 400 getmusician.pl

#Własna strona błędu 401
ErrorDocument 401 getmusician.pl

#Własna strona błędu 403
ErrorDocument 403 getmusician.pl

#Własna strona błędu 404
ErrorDocument 404 getmusician.pl

Header set Content-Security-Policy "
    default-src 'self';
    script-src 'self' www.google-analytics.com *.cloudflare.com;
    img-src *.cloudflare.com; 
    base-uri 'self';
"
ErrorDocument 404 https://getmusician.pl


# Extra Security Headers
Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff

